<div class="header">
	<div class="transparentbox">
        <h1 class="animated fadeInDown"><big>MyCookBook</big></h1>
		<h3 class="animated fadeInDown">An online recipe repository!</h3>
		<br>
		<a href="#explore" class="btn btn-primary btn-xl page-scroll">Explore</a>
	</div>
</div>


<section class="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="http://i.imgur.com/V2rGlY5.png">
                    <h2 class="section-heading">Your favorite recipes at your fingertips!</h2>
                    <hr class="light">
                    <h4>MyCookBook is your one stop repository for all things food-related.<br> Find, store and edit your favorite recipes without having to jump from site to site.</h4>
                </div>
            </div>
        </div>
    </section>

    <br><br>

    <section id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Explore</h2><br>
                    <hr class="primary">
                    <br>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="http://i.imgur.com/yfEIQ8Q.png"></i>
                        <h3>Appetizers</h3>
                        <%= link_to "Get those taste buds excited!", explore_path(course_id: 1), class: "course_link" %>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="http://i.imgur.com/Xj5Fz6Y.png"></i>
                        <h3>Main Courses</h3>
                        <%= link_to "The main attraction!", explore_path(course_id: 2), class: "course_link" %>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="http://i.imgur.com/b1586EN.png"></i>
                        <h3>Desserts</h3>
                        <%= link_to "Something sweet to top it off!", explore_path(course_id: 3), class: "course_link" %>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="http://i.imgur.com/ra3mu77.png"></i>
                        <h3>Dietary-Focused</h3>
                        <%= link_to "Something for everyone!", explore_path(course_id: 4), class: "course_link" %>
                        <!-- links to drinks instead -->
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="header-1">
    <div class="transparentbox1">
        <h1>Top-Rated</h1>
    </div>
</div>

<div class="container-1">
    <div class="galleryItem">
        <a href="#"><img src="http://www.seriouseats.com/recipes/assets_c/2015/06/20150611-grilled-scallion-pancakes-28-thumb-1500xauto-423910.jpg" alt="ScallionPancake" alt="ScallionPancake"/></a>
        <h3>Appetizers</h3>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <div class="galleryItem">
        <a href="#"><img src="http://www.seriouseats.com/images/2015/01/20150116-french-onion-soup-vicky-wasik-19.jpg" alt="FrenchOnionSoup"/></a>
        <h3>Soups/Stews</h3>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <div class="galleryItem">
        <a href="#"><img src="http://www.seriouseats.com/images/2014/07/20140730-burger-toppings-week-mornay-mushroom-burger-vicky-wasik-4.jpg" alt="Cheeseburger"/></a>
        <h3>Main Dishes</h3>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <div class="galleryItem">
        <a href="#"><img src="http://www.seriouseats.com/images/2014/07/20140716-smores-SpreadingChocolateMousse-ideas-in-food.jpg"" alt="NutellaCake"/></a>
        <h3>Desserts</h3>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
</div>

<footer class="container-fluid">
	<p>&copy; MyCookBook Co. 2017</p>
	<ul>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>