<div class="header">
	<div class="transparentbox">
        <h1 class="animated fadeInDown"><big>MyCookBook</big></h1>
		<h3 class="animated fadeInDown">An online recipe repository!</h3>
		<br>
		<a href="#explore" class="btn btn-primary btn-xl page-scroll">Explore</a>
	</div>
</div>


<section class="info">
    <div class="container" id="explore">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="http://i.imgur.com/V2rGlY5.png">
                <h2 class="section-heading">Your favorite recipes at your fingertips!</h2>
                <hr class="light">
                <h4>MyCookBook is your one stop repository for all things food-related.<br> Find, store and edit your favorite recipes without having to jump from site to site.
                <hr> Cultivate your inner chef!</h4>
            </div>
        </div>
    </div>
</section>

    <br><br>

<section id="explore-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><b>Explore Recipes</b></h2><br>
                <hr class="primary" style="width:50%">
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://i.imgur.com/yfEIQ8Q.png"></i>
                    <h3><b><%= link_to "Appetizers", explore_path(course_id: 1), class: "course_link" %></b></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://i.imgur.com/Xj5Fz6Y.png"></i>
                    <h3><b><%= link_to "Main Courses", explore_path(course_id: 2), class: "course_link" %></b></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://i.imgur.com/b1586EN.png"></i>
                    <h3><b><%= link_to "Desserts", explore_path(course_id: 3), class: "course_link" %></b></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://i.imgur.com/ra3mu77.png"></i>
                    <h3><b><%= link_to "Dietary-Focused!", explore_path(course_id: 4), class: "course_link" %></b></h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="top-rated">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="http://i.imgur.com/k6ricpQ.png">
                <h2 class="section-heading">Top-Rated Recipes</h2>
                <hr class="light">
                <h4>Looking for dinner recommendations?</h4>
            </div>
        </div>
    </div>
</section>

<div class="container-1">
    <div class="galleryItem">
        <a href="#"><img src="http://www.seriouseats.com/recipes/assets_c/2015/06/20150611-grilled-scallion-pancakes-28-thumb-1500xauto-423910.jpg" alt="ScallionPancake"/></a>
        <h3>Grilled Scallion Pancakes</h3>
        <!-- <p>Lorem ipsum dolor sit amet...</p> -->
    </div>
    <div class="galleryItem">
        <a href="#"><img src="http://www.seriouseats.com/images/2015/01/20150116-french-onion-soup-vicky-wasik-19.jpg" alt="FrenchOnionSoup"/></a>
        <h3>Perfect French Onion Soup</h3>
        <!-- <p>Lorem ipsum dolor sit amet...</p> -->
    </div>
    <div class="galleryItem">
        <a href="#"><img src="http://www.seriouseats.com/images/2014/07/20140730-burger-toppings-week-mornay-mushroom-burger-vicky-wasik-4.jpg" alt="Cheeseburger"/></a>
        <h3>Blue Cheese Burgers</h3>
        <!-- <p>Lorem ipsum dolor sit amet...</p> -->
    </div>
    <div class="galleryItem">
        <a href="#"><img src="http://www.seriouseats.com/images/2014/07/20140716-smores-SpreadingChocolateMousse-ideas-in-food.jpg"" alt="NutellaCake"/></a>
        <h3>Nutella Smear Cake</h3>
        <!-- <p>Lorem ipsum dolor sit amet...</p> -->
    </div>
</div>

<section class="kitchenknowledge">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="http://i.imgur.com/5i07WtQ.png">
                <h2 class="section-heading">Kitchen Knowledge</h2>
                <hr class="light">
                <h4>Tips, tricks and new techniques to cultivate your inner chef!</h4>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://i.imgur.com/FlIzPuS.jpg" class="img-responsive" alt="Ramen">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                                How to make the perfect bowl of Ramen
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://i.imgur.com/Ub2lZoo.jpg" class="img-responsive" alt="Pizza">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                                Home-made pizza dough: The Do's and Don'ts!
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://i.imgur.com/k0Q2736.jpg" class="img-responsive" alt="Steak">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                                Easy steak marinade
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://i.imgur.com/6rIpVJV.jpg" class="img-responsive" alt="Cookies">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                                Irresistable brown butter cookies
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://i.imgur.com/zIniywt.jpg" class="img-responsive" alt="Snacks">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                                Perfect movie night snacks
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://i.imgur.com/XpwU85n.jpg" class="img-responsive" alt="Cocktail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                                Perfect summer cocktails
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<hr class="light">

<section class="last-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="http://i.imgur.com/uFBpXHE.png">
                <h2 class="section-heading">Cultivate your inner chef!</h2>
            </div>
        </div>
    </div>
</section>

<footer class="container-fluid">
	<p>&copy; MyCookBook Co. 2017</p>
	<ul>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>