<h3>All <% @course.name %> Recipes</h3>

<div class="row">
<% @recipes_by_course.each do |recipe| %>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel panel-body">
				<p><strong><%= recipe.name %></strong></p>
				<p><%= recipe.description %></p>
			</div>
		</div>
	</div>
<% end %>